@page "/presupuesto"

@using Blazorise.Charts
@using Blazorise.Charts.Trendline
@using EstadisticaApp.Components.Layout
@using EstadisticaApp.Models
@using EstadisticaApp.Utilities

@inject NavigationManager Navigation



<Div Class="row" Style="width:100vw;height:100%;">
   
    <Div Class="col-8" >
        
        @*Body*@
    </Div>

    <Div Class="col-4" Margin="Blazorise.Margin.Is3.FromTop" Style="overflow-y:auto;">
        <div class="list-group">
            <button type="button" class="list-group-item bg-primary p-2 disabled" aria-current="true">
                <Icon Name="IconName.Filter" IconSize="IconSize.Large" Margin="Margin.Is1" TextColor="TextColor.White"/>
            </button>

            <button type="button" class="list-group-item list-group-item-action" onclick="@(()=>Navigation.NavigateTo("/presupuesto/Oficinas Centrales/01"))">Sistema DIF</button>
            <button type="button" class="list-group-item list-group-item-action" onclick="@(()=>Navigation.NavigateTo("/presupuesto/Junta de Asistencia/02"))">Junta de Asistencia</button>
            <button type="button" class="list-group-item list-group-item-action" onclick="@(()=>Navigation.NavigateTo("/presupuesto/Hopital del Niño/03"))">Hospital Del Niño</button>
            <button type="button" class="list-group-item list-group-item-action" onclick="@(()=>Navigation.NavigateTo("/presupuesto/CRIH/04"))">CRIH</button>
            <button type="button" class="list-group-item list-group-item-action" onclick="@(()=>Navigation.NavigateTo("/presupuesto/Procuraduría/05"))">
                PROCURADURÍA
            </button>
        </div>
        
        
    </Div>

</Div>

@code{
    [Inject]
    private ComponentEvents componentEvents{ set; get; }

    protected override void OnInitialized(){
        componentEvents.EventoState(this,new ServiceTitle{State = "Presupuesto por Unidad Presupuestal"});

    }
   
}